
image{
	width: 100%;
	height: 100%;
}
page{
	background-color: #F9F9F9;
}

/*通用*/
.title{
	font-size: 35rpx;
	font-family: Alibaba PuHuiTi;
	font-weight: 500;
	color: #333333;
	position: relative;
	margin-top: 25rpx;
	.right-bar{
		position: absolute;
		display: inline-block;
		right: 0rpx;
		top: 3rpx;
		font-size: 28rpx;
		font-family: Alibaba PuHuiTi;
		font-weight: 400;
		color: #999999;
	}
}
.modal-contect{
	padding: 50rpx 0 36rpx;
	text-align: center;
	.icon{
		width: 192rpx;
		height: 192rpx;
		margin: 0 auto;
	}
	.title{
		color: #242E42;
		font-size: 40rpx;
		font-family: Alibaba PuHuiTi;
		font-weight: 500;
		margin: 43rpx 0 32rpx;
	}
	.text{
		width: 369rpx;
		font-size: 30rpx;
		font-family: Alibaba PuHuiTi;
		font-weight: 400;
		color: #8A8A8F;
		margin: 0 auto;
	}
}

/*组框*/
.cell-gruops{
	font-size: 30rpx;
	background: #FFFFFF;
	box-shadow: 0rpx 15rpx 15rpx 0px rgba(119, 119, 119, 0.05);
	border-radius: 30rpx;
	overflow: hidden;
	.cell-box{
		padding: 20rpx 40rpx;
	}
}

/*宠物列表*/
.pet-item{
	padding: 25rpx 38rpx;
	border-bottom: 1px solid #F4F4F4;
	position: relative;
	.head-img{
		width: 120rpx;
		height: 120rpx;
		border-radius: 50%;
		overflow: hidden;
		display: inline-block;
	}
	.infos{
		display: inline-block;
		margin-left: 29rpx;
		.name{
			font-size: 32rpx;
			font-family: Alibaba PuHuiTi;
			font-weight: bold;
			color: #555555;
			margin-bottom: 15rpx;
			.sex{
				display: inline-block;
				width: 30rpx;
				height: 30rpx;
				margin-left: 13rpx;
			}
		}
		.info{
			font-size: 20rpx;
			font-family: Alibaba PuHuiTi;
			font-weight: 400;
			color: #777777;
			margin-bottom: 12rpx;
		}
		.idNum{
			font-size: 25rpx;
			font-family: Alibaba PuHuiTi;
			font-weight: 400;
			color: #555555;
		}
	}
	.baozhang{
		position: absolute;
		display: inline-block;
		right: 30rpx;
		width: 65rpx;
		height: 104rpx;
	}
	
}

/*按钮*/
.btn{
	height: 100rpx;
	border-radius: 50rpx;
	line-height: 100rpx;
	font-size: 35rpx;
	text-align: center;
}
.submit{
	background-color: rgba(24, 171, 255, 1);
	color: #FFFFFF;
	margin: 88rpx 25rpx 0;
}

/*瀑布流*/

.pet-life{
	padding: 14rpx;
	.water{
		&.left{
			margin-right: 15rpx;
		}
		background: #FFFFFF;
		box-shadow: 0rpx 0rpx 51rpx 0rpx rgba(179, 179, 179, 0.25);
		border-radius: 25rpx;
		overflow: hidden;
		margin-bottom: 16rpx;
		.img{
			width: 100%;
			display: block;
		}
		.title{
			font-size: 28rpx;
			font-family: Alibaba PuHuiTi;
			font-weight: 400;
			color: #333333;
			line-height: 35rpx;
			width: 300rpx;
			margin: 20rpx;
		}
		.infos{
			margin: 10rpx;
			color: #999999;
			height: 40rpx;
			margin: 10rpx;
			position: relative;
			&::after{
				content: '';
				clear: both;
			}
			.userInfo{
				font-size: 26rpx;
				font-family: SF UI Display;
				font-weight: 400;
				display: inline-block;
				.headimg{
					float: left;
					width: 40rpx;
					height: 40rpx;
					margin-right: 12rpx;
					border-radius: 50%;
				}
				.name{
					float: left;
				}
			}
			.likeNumber{
				float: right;
				display: inline-block;
				margin-right: 15rpx;
			}
			.likeNumber1{
				float: right;
				display: inline-block;
				margin-right: 15rpx;
				color: #fa3534;
			}
		}
	}
}